<div class="landing"><h1>Berlinerin</h1>
<h3>Place where women can find support and advise</h3>

<div class="links">
<a class="frontPage" href="/signup">Sign up</a>
<a class="frontPage" href="/login">Login</a></div>

</div>

<img class="lady" src="../images/bck.jpg" alt="image">
<img class="lady2" src="../images/back2.jpg" alt="woman">
<img class="lady3" src="../images/monstera.png" alt="plant">
