<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Berlinerin</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
     
        <li>
          <a class="nav-link active" aria-current="page" href="/profile">Home</a>
        </li>
        <li>
          <a class="nav-link"  href="/doctors">Doctors</a>
        </li>
           <li>
          <a class="nav-link "  href="/associations">Associations</a>
        </li> 
         <li>
          <a class="nav-link" href="/forum">Forum</a>
        </li> 
      </ul>
    </div>
  </div>
</nav>

<h1 class="welcome">Welcome to your safe space</h1>
<div class="video">
 <video autoplay muted loop id="myVideo">
  <source src="/images/hug.mp4" type="video/mp4">
</video>

{{!-- <img class="hands" src="/images/back.jpg" alt="hands"> --}}
<img class="plant" src="/images/monstera.png" alt="">
<a class="frontPage profileBtn" href="/logout">Logout</a></div>
</div>

<img class="plant2" src="/images/leaf2.png" alt="">

 <video class="hands" autoplay muted loop id="myVideo">
  <source src="/images/girls.mp4" type="video/mp4">
</video>
