<div class="signup"><h1>Here you can sign up for our website</h1>

<form action="/signup"   method="post"> 
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" name="username"  class="form-control" id="username" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your details with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="password">
  </div>
  {{!-- <a class="frontPage" href="/signupConf">Sign up</a></div> --}}
  <button type="submit">Submit</button>
</div>

