body {
  margin: 0 auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(248, 241, 231);
}

.landing {
  text-align: center;
  max-width: 50%;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-color: #ffeedb;
}

.landing h1 {
  position: absolute;
  text-align: center;
  top: 250px;
  left: 220px;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 70px;
  margin: 0;
  z-index: 55;
}
.landing h3 {
  position: absolute;
  color: #5f939a;
  font-size: 30px;
  top: 330px;
  left: 100px;
  margin-top: 50px;
  z-index: 55;
}

.links {
  text-align: center;
  position: absolute;
  min-width: 50px;
  top: 500px;
  left: 220px;
}

.frontPage:link,
.frontPage:visited {
  background-color: #dfeeea;
  color: black;
  padding: 20px 55px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
  margin-right: 20px;
}
.frontPage:hover,
.frontPage:active {
  background-color: #a7c4bc;
}

.lady {
  position: absolute;
  top: 10px;
  right: 20px;
  max-width: 100%;
  max-height: 100%;
}

.lady2 {
  position: absolute;
  top: 100px;
  right: 250px;
  max-width: 100%;
  max-height: 100%;
}

.lady3 {
  position: absolute;
  top: 0px;
  left: 0px;
  max-width: 100%;
  max-height: 100%;
  transform: rotate(20deg);
}

.signup {
  background-image: url("/images/signupBackground.jpg");
  min-height: 100vh;
  background-size: cover;
}

.signup h1 {
  font-size: 50px;
  padding-top: 50px;
  font-weight: 700;
}
.card-body {
  background-color: rgb(205, 216, 182);
}

h1 {
  text-align: center;
}

#form {
  height: 100%;
  background-color: #98d4f3;
  overflow: hidden;
  position: relative;
}
form {
  position: absolute;
  top: 80px;
  margin: 0 auto;
  width: 500px;
  padding-top: 40px;
  color: black;
  position: relative;
}
label,
input,
textarea {
  display: block;
}
input,
textarea {
  width: 500px;
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 10px;
  font-size: 1em;
  color: #676767;
  transition: border 0.5s;
  -webkit-transition: border 0.5s;
  -moz-transition: border 0.5s;
  -o-transition: border 0.5s;
  border: solid 3px #98d4f3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input:focus,
textarea:focus {
  border: solid 3px #77bde0;
}

textarea {
  height: 100px;
  resize: none;
  overflow: auto;
}
label {
  font-size: 1.5em;
  margin-top: 20px;
  padding-left: 20px;
}
#map {
  height: 180px;
}

.loginHeader {
  font-size: 50px;
  padding-top: 50px;
  font-weight: 700;
}

.login {
  background-image: url("/images/loginBackground.jpg");
  background-size: cover;
  min-height: 100vh;
}

.signupConf {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url("/images/signupConf.jpg");
  background-size: cover;
  min-height: 100vh;
}
.signupConf h1 {
  padding-top: 300px;
  font-size: 50px;
  font-weight: 700;
}
